
{% extends 'base.html' %}
{% block content %}

<div class="row">
  <aside class="card panel col s3 #80cbc4 teal lighten-3 hoverable">
    <img class="sax" src="../static/images/sweetsax.jpg" alt="profile sax"> 
    <h2>{{ profile.sport_bio }}</h2>
    <h5>{{ profile.dob }}</h5>
    <p>{{ profile.goal }}</p>
        <div class="card-action page-footer #ff5722 deep-orange">
           <a href="{% url 'profile_update' profile.id %}">Edit</a>
        </div> 
  </aside>

  
 <div class="container">
  <div class="col s9">
    <h2 id="profile-name" class="center-align">{{profile.name}}'s Profile</h2>
    <a class="waves-effect waves-light btn" href="{% url 'activity_create' %}">Add WorkOut</a>
  
<div id="apple">
    <h3>Running</h3>
  <div>
    <p>{{ activity.runDates }}</p>
        <p>{{ activity.run }}</p>
  </div>
  <h3>Arms</h3>
  <div>
    <p>{{ activity.armDates }}</p>
      <p>{{ activity.arms }}</p>
  </div>
  <h3>Legs</h3>
  <div>
    <p>{{ activity.legDates }}</p>
    <p>{{ activity.legs }}</p>
  </div>
  <h3>Core</h3>
  <div>
    <p>{{ activity.coreDates }}</p>
    <p>{{ activity.core }}</p>
  </div>
  <h3>Avg weights</h3>
  <h4>{{activity.weights}}</h4>
</div>
</div>
</div>

{% endblock %}


