
* {
    padding: 0;
}

header {
    font-family: 'Saira Stencil One', cursive;
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: darkslategrey;
  }
  
img {
  max-width: 33vw;
}

h6 {
    font-family: 'Niconne', cursive;
}

hr {
  border-top: 4px solid;
  margin: 10vh 0;
  color: teal;
}

#container {
  position: relative;
  text-align: center;
  color: darkslategrey;
}

.article {
  margin-bottom: 8vmin;
}

.aboutus, .ceo, .contactus {
  padding: 20px;
  margin: 40px 0;
  border: 3px solid teal;
}

.row {
    display: flex;
    min-height: 65vh;
} 

.top-left {
    position: absolute;
    top: 60%;
    left: 5%;
    align-items: center;
  }
  
footer.page-footer {
    padding-top: 0;
    text-align: center;
  }

  @media only screen and (max-width: 1024px)
  {

  img {
      max-width: 100%;
    }   

  .row{
      overflow-y: scroll;
      scroll-snap-coordinate: 0 0;
      scroll-snap-points-x: repeat(100%);
      scroll-snap-type: x mandatory;
      flex: 1;
      display:flex;
      -webkit-overflow-scrolling: touch;
    }
    
    .row .col {
      height: 97vh;
      flex:0 0 100vw;
      scroll-snap-align: start;
    }
  } 