{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s4 center-align">
        <h1>Member of the Month:</h1>
        <h5>"A mountain lion attacked me off paradise trail, with the help of the Milo app, I was prepared, wrestled, subdued and put the lion to sleep with my bare hands."</h5>
    </div>
    <div class="col s4 center-align">
       <div class="top-left">“You must expect great things of yourself before you can do them.”</div>
      <img src="static/images/lady-leap.jpg" alt="Woman leaping upwards">
    </div>
    <div class="col s4 center-align">
      
    </div>
  </div>

{% endblock %}