{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s4 center-align">
      {%for article in toReturn %}
    <div class="article">
        <img src="{{ article.img }}" id="new_feed_img">
        <h3>{{article.headline}}</h3>
        <h5>{{ article.discript }}</h5>
        <a href={{article.link}} target="_blank">Read Article >></a>
    </div>
    <hr>

    {% endfor %}  
    </div>
    <div id="container" class="col s4 center-align">
      swipe!
    </div>
    <div id="container" class="col s4 center-align">
        <div class="top-left"><h5>“You must expect great things of yourself before you can do them.”</h5></div>
        <img class="hoverable" src="static/images/tunes.jpg" alt="Man picking tunes for the upcoming burn"> 
        <img class="hoverable" src="static/images/bike-view.jpg" alt="Biking trip views"> 
        <img class="hoverable" src="static/images/woman-crossfit.jpg" alt="Woman stands triumphantly after burn"> 
        <img class="hoverable" src="static/images/upside-down.jpg" alt="Man working out on legs isn't hard enough"> 
        <img class="hoverable" src="static/images/lady-leap.jpg" alt="Woman leaping upwards"> 
    </div>
  </div>

{% endblock %}